[Unit]
Description=Resto Roulette Backend
After=network.target

[Service]
User=root
WorkingDirectory=/opt/resto-roulette/resto

Environment="HOME=/home/root"
Environment="JAVA_OPTS=-Xms256m -Xmx512m"

ExecStart=/usr/bin/doppler run -- java $JAVA_OPTS -jar resto-0.0.1-SNAPSHOT.jar

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target